server:
  port: 19200
zuul:
  host:
    connect-timeout-millis: 2000
    socket-timeout-millis: 4000
  routes:
    es:
      path: /**
      # The base url of the upstream (unprotected) Elasticsearch.
      url: http://localhost:9200/
  ignore-security-headers: false
  sensitive-headers: Cookie, Set-Cookie
  ignore-local-service: false
  set-content-length: true
  ignored-headers:

elasticsearch:
  proxy:
    # This section defines authorization rules
    security:
      admin:
        roles: kibana.manage-kibana

      allow:
      # Allow anyone to read Kibana index patterns, config, visualization and searches.
      - actions: read
        resources:
          indices: .kibana
          query: "type:index-pattern OR type:config OR type:visualization OR type:search"

      # Allow only users with view-dashboards role to read Kibana dashboards.
      - principal:
          roles: kibana.view-dashboards
        actions: read
        resources:
          indices: .kibana
          queryScript: >
            def userId = principal.token.getPreferredUsername();
            "type:dashboard AND (" +
                "acl.permissions.view:\"${userId}\" OR " +
                "acl.permissions.manage:\"${userId}\" OR " +
                "acl.permissions.view:\"all\" OR " +
                "acl.permissions.manage:\"all\"" +
            ")";

      # Allow only users with manage-dashboards role to write Kibana dashboards.
      - principal:
          roles: kibana.manage-dashboards
        actions: write
        resources:
          indices: .kibana
          queryScript: >
            def userId = principal.token.getPreferredUsername();
            "type:dashboard AND (" +
                "acl.permissions.manage:\"${userId}\" OR " +
                "acl.permissions.manage:\"all\"" +
            ")";

      # Allow only users with manage-visualizations role to write Kibana visualizations.
      - principal:
          roles: kibana.manage-visualizations
        actions: write
        resources:
          indices: .kibana
          query: "type:visualization"

      # Allow only users with manage-searches role to write Kibana searches.
      - principal:
          roles: kibana.manage-searches
        actions: write
        resources:
          indices: .kibana
          query: "type:search"

      # When a user has 'country' property assigned - give read access only to
      # documents which have 'OriginCountry' field set to user's 'country' value.
      - actions: read
        resources:
          indices: kibana_sample_data_flights
          queryScript: >
            def country = principal.token.getOtherClaims().get("country");
            country ? [ OriginCountry: country ] : null;
